{% if partners %}
<div class="partner-slider slider" style="background-color: {{ __SELF__.property('backgroundColor') }};">
    {% for partner in partners %}
        {% if partner.url %}
            {% if 'https' in partner.url %}
                {% set url = partner.url %}
            {% elseif 'http' in partner.url %}
                {% set url = partner.url|replace({'http://': '', 'https://': ''}) %}
            {% else %}
                {% set url = 'https://' ~ partner.url %}
            {% endif %}
        {% endif %}
        <div class="slick-slide">
            {% if partner.url %}<a href="{{ url }}" target="_blank">{% endif %}
            <img src="{{ partner.image.thumb(auto,120) }}" alt="{{ partner.name }}">
            {% if partner.url %}</a>{% endif %}
        </div>
    {% endfor %}
</div>
{% endif %}
